* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --third-color: #dd7732;
    --main-font: Helvetica, sans-serif;
    --secondary-font: Georgia, serif;
}

body {
    font-family: "Work Sans", sans-serif;
    background-image: url(https://i.ibb.co/WzBp5w1/437cb739d14912acd84d65ee853b9067.gif);
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* midum */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* start loading section */
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(https://i.ibb.co/xjN7Fsv/Infinity-1-2s-197px.gif) no-repeat center;
    z-index: 99999;
}

/* end loading section */


/* start header */
.header {

    position: relative;
    margin: 0 auto;
    width: 100%;
}

.header .container {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    width: calc(100% + 0%);
    z-index: 9999;
}

.header img {
    width: 60px;
}

.header .container .icon {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.header .container .icon .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.header .container .icon .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--main-color);
    display: block;
    transition: 0.3s;
}

.header .container .icon .overlay-content a:hover,
.header .container .icon .overlay-content a:focus {
    color: #f1f1f1;
    margin-left: 25px;
}

.header .container .icon .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: var(--main-color);
    text-decoration: none;
}

/* end header */

/* start welcome massage section */

.wel {
    padding-top: 40px;
    margin: 0 auto;
    width: 80%;
}



.wel .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items: center;
}

@media (max-width: 767px) {
    .wel .container {
        flex-flow: column;
        margin-left: 15px;
        justify-content: flex-start;
    }
}

.wel .container .welcome-message {
    width: 50%;
    padding-top: 7%;
}

@media (max-width: 767px) {
    .wel .container .welcome-message {
        width: 100%;
    }
}


.wel .container .welcome-message p {
    font-size: 14pt;
    font-weight: bold;
    font-family: var(--main-color);
    color: var(--main-color);
    letter-spacing: 0.1rem;
}

.wel .container .welcome-message h1 {
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: 22pt;
    font-family: var(--secondary-font);
    letter-spacing: 0.1rem;

}

.wel .container .welcome-message span {
    color: var(--third-color);
}

.wel .container h1 span.cursor {
    background-color: var(--secondary-color);
    margin-left: 0.1rem;
    width: 1px;
    font-size: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        background-color: var(--secondary-color);
    }

    49% {
        background-color: var(--secondary-color);
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: var(--secondary-color);
    }
}

.wel .container p.motivation {
    color: var(--secondary-color);
    font-size: 12pt;
    font-family: var(--secondary-font);
    padding-top: 50px;
    line-height: 1.6;
}

.wel .container .welcome-message button {
    width: 170px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    color: var(--main-color);
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
}

.wel .container .welcome-message button:hover {
    background-color: var(--secondary-color);
    transition: 1s;
}


.wel .container .my-photo {
    width: 50%;
}

.wel .container .my-photo img {
    width: 300px;
    margin-left: 130px;

}

@media (max-width: 767px) {
    .wel .container .my-photo img {
        margin-left: 10px;
    }
}


/* @keyframes ball-animate {
    5% {
        height: 120px;
    }

    20% {
        height: 120px;
    }

    30% {
        height: 120px;
    }

    50% {
        height: 120px;
        transform: translateY(-60px);
    }

    75% {
        height: 120px;
    }
} */



/* end welcome massage section */

/* start about section */
.about {
    padding-top: 40px;
    padding-bottom: 25px;
    position: relative;
    background-image: url(https://i.ibb.co/xsfQzhk/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    width: 100%;
}

.about .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

@media (max-width: 767px) {
    .about .container {
        flex-flow: column;
        width: 100%;
        margin: 0%;
    }
}

.about .container .ph {
    width: 20%;
    margin-left: 10%;
    position: relative;
}

@media (max-width: 767px) {
    .about .container .ph {
        width: 100%;
    }
}


.about .container .ph h2 {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 24pt;
    font-weight: bolder;
    padding-top: 10px;
}

.about .container .ph img {
    border-radius: 50%;
    width: 200px;
}

@media (max-width:767px) {
    .about .container .ph img {
        width: 70%;
        margin-left: 25px;
    }
}


.about .container .text {
    width: 50%;
    position: relative;
}

.about .container .text p {
    padding-top: 25px;
    font-size: 14pt;
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 1.6;
    letter-spacing: 0.1rem;

}

@media (max-width: 767px) {
    .about .container .text {
        width: 100%;
    }
}

.about .container .text span {
    color: var(--third-color);
}


/* end about section */

/* start skills section */

.circle-chart {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.circle-chart__circle {
    stroke: #00acc1;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse;
    /* 1 */
    transform: rotate(-90deg);
    /* 2, 3 */
    transform-origin: center;
    /* 4 */
}


.circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1, -1);
    /* 1, 2, 3 */
}

.circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none;
}

.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

.circle-chart__percent {
    text-anchor: middle;
    font-size: 8px;
}

.circle-chart__subline {
    text-anchor: middle;
    font-size: 3px;
}

.success-stroke {
    stroke: #00C851;
}

.warning-stroke {
    stroke: #ffbb33;
}

.danger-stroke {
    stroke: #ff4444;
}

@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.skills {
    color: var(--secondary-color);
    margin: 0 auto;
    width: 50%;
}

@media(max-width: 767px) {
    .skills {
        width: 100%;
    }
}

.section .container {
    margin: 0 auto;
    width: 100%;
}

.skills_section {
    margin-bottom: 50px;
    align-items: center;
}

.skill-head {
    margin: 80px 0;
}

.skill-head h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.skills-area {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;

}

.single-skill {
    width: 25%;
    margin-bottom: 80px;
}

.success-stroke {
    stroke: var(--main-color);
}

.circle-chart__background {
    stroke: #ede4e4;
    stroke-width: 1;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .skill-head {
        margin: 50px 0;
    }

    .skill-head h1 {
        font-size: 30px;
    }

    .skill-icon {
        width: 50%;
    }

    .skill-icon i {
        font-size: 70px;
    }

    .single-skill {
        width: 50%;
    }

    .circle-chart {
        width: 130px;
        height: 130px;
    }
}

/* end skills section */

/* Start Projects */

.container-filter {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item img {
    max-width: 100%;
    vertical-align: middle;
}

/*.gallery*/
.filter {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url(https://i.ibb.co/xsfQzhk/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    padding-bottom: 25px;
    position: relative;
}

.filter h1 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 50px;
    font-family: var(--main-font);
}

.filter .gallery-filter {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.filter .gallery-filter .filter-item {
    color: var(--secondary-color);
    font-size: 17px;
    border: 2px solid var(--secondary-color);
    text-transform: uppercase;
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    line-height: 1.2;
    transition: all 0.3s ease;
    position: relative;
}

.filter .gallery-filter .filter-item.active {
    color: white;
    border-color: var(--main-color);
    background: var(--main-color);
}

.filter .gallery-item {
    width: calc(100% / 3);
    padding: 15px;

}

.filter .gallery-item-inner img {
    width: 90%;
    height: 250px;
}

@media(max-width: 491px) {
    .filter .gallery-item-inner img {
        width: 100%;
    }
}

.filter .gallery-item-inner p {
    font-size: 12pt;
    font-family: Oswald;
    font-weight: 400;
    text-align: center;
    color: var(--secondary-color);
    display: inline-block;
}

.filter .gallery-item-inner i {
    color: #25d366;
    margin-left: 50px;
    font-size: 14pt;
    font-weight: 400;
}

.filter .gallery-item.show {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.filter .gallery-item.hide {
    display: none;
}

/*responsive*/
@media(max-width: 491px) {
    .filter .gallery-item {
        width: 100%;
    }
}

@media(max-width: 467px) {
    .filter .gallery-item {
        width: 100%;
    }

    .filter .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}

.filter .container-filter .gallery-item:hover .over {
    display: block;
}

.filter .container-filter .gallery-item .over {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 85%;
    height: 250px;
    background-color: var(--main-color);
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: none;
    opacity: .9;
}



.filter .gallery-item .over h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}

.filter .gallery-item .over p {
    margin-bottom: 20px;
    margin-left: 15px;
    line-height: 1.6;
    font-family: var(--secondary-font);
    text-align: center;
    color: white;
}

.filter .gallery-item .over button {
    background-color: transparent;
    border: 1px solid #FFF;
    width: 180px;
    padding: 10px;
    margin-left: 20%;
    border-radius: 10px;
    font-family: var(--main-font);
    font-weight: bold;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.filter .container-filter .over button:hover {
    background-color: var(--third-color);
    border: 1px solid var(--secondary-color);
    color: wheat;
    font-weight: bold;
    cursor: pointer;
}

.filter .container-filter {
    overflow: hidden;
}

.filter .container-filter .gallery-item {
    float: left;
    width: 370px;
    overflow: hidden;
    margin-left: 1.33333%;
    margin-bottom: 12px;
    border-radius: 10px;
    position: relative;
    height: 250px;
    cursor: pointer;
}


/* End Projects */



/* Start Testimonials */
.testimonials {
    position: relative;
    padding-top: 30px;
    padding-bottom: 80px;
}

.testimonials .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.testimonials:before {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}

.testimonials:after {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--secondary-color);
    height: 100%;
}

.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    font-family: var(--main-font);
    color: #FFF;
    margin: 0 0 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media (max-width: 767px) {
    .testimonials h2 {
        text-align: center;
    }
}

.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    background-color: #FFF;
    padding: 20px;
    width: 350px;
}

@media (max-width: 767px) {
    .testimonials .ts-box {
        width: 100%;
        margin-bottom: 10px;
    }
}

.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}

.testimonials .container .ts-box p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-style: italic;
}

.testimonials .ts-box h4 {
    margin: 14px 0 10px;
    color: var(--main-color);
    font-weight: bold;
    font-family: var(--main-font);
    text-align: center;
}

.testimonials .container .ts-box p.pos {
    text-align: center;
}

/* End Testimonials */

/* start footer section */

footer {
    background-image: url(https://i.ibb.co/fDb12M9/contact.png);
}

footer .all-ft {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
}

/* responsive for mobile with max-width:767px */
@media (max-width:767px) {
    footer .all-ft {
        flex-flow: column;
        margin-left: 25px;
    }
}

footer .all-ft .contact {
    padding-left: 25px;
}

footer .all-ft .contact p.addres,
footer .all-ft .contact p.phone {
    font-size: 12pt;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--secondary-color);
}

footer .all-ft .contact p.mail a {
    text-decoration: none;
    font-size: 12pt;
    font-style: italic;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

footer .all-ft .social h2 {
    color: var(--main-color);
}

footer .all-ft .social i {
    margin-left: 10px;
    font-size: 16pt;
    color: var(--third-color);
}

footer .all-ft .social i:hover {
    color: var(--main-color);
}


footer .all-ft .links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
}

footer .all-ft .links a:hover {
    color: var(--main-color);
}

footer .all-ft .sub {
    margin-right: 25px;
    margin-top: 30px;
}

footer .all-ft .sub input.btn {
    width: 100%;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

/* responsive for mobile with max-width:767px */
@media (max-width:767px) {
    footer .all-ft .sub input {
        width: 100%;
        height: 40px;
    }
}

footer .all-ft .sub input.btn:hover {
    background-color: white;
    color: var(--main-color);
}

footer p.res {
    text-align: center;
    padding: 10px;
    font-size: 14pt;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 1px solid var(--main-color);
}

footer p.res span {
    color: var(--main-color);
}

/* end footer section */